<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<h2>Blood Pressure</h2>
<canvas id="bpChart" height="100" width="100"></canvas>

<script>
    const bloodPressure = [];

makeChart();
    
async function makeChart(){
    await parseBP()
    const ctx = document.getElementById('bpChart').getContext('2d');
  
   

    const myChart = new Chart(ctx, {
    type: 'scatter',
    data:{
        datasets: [{
            label: 'Blood Pressure',
            data: [{
                x: xDia[i],
                y: ySys[i]
            }],
            backgroundColor: 'rgba(75, 192, 192, 1)'
        }],
    }
    });
}


async function getBP(){
        const response = await fetch('/api/posts');
        const data = await response.json();

    
        data.forEach(data => {
            const systolic = data.systolic_blood_pressure;
            const diastolic = data.diastolic_blood_pressure;
               bloodPressure.push({diastolic, systolic});
        })        
}
   console.log(bloodPressure);

async function parseBP (){
    await getBP()
    bloodPressure.forEach(bp =>{
                let xDia = bp.diastolic;
                let ySys = bp.systolic;
                console.log(xDia);
                console.log(ySys);
                })
}
</script>


