<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<h2>Heart Rate</h2>
<canvas id="hrChart" width ="200" height= "100"></canvas>

<script src="javascript/heartRate.js"></script>
