<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{{#if posts}}
<h2>Heart Rate</h2>
<canvas id="hrChart" width ="200" height= "100"></canvas>

<p class="d-none" id="user_id">{{user_id}}</p>

<script src="javascript/heartRate.js"></script>
{{/if}}