<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{{#if posts}}
<h2>Weight</h2>
<canvas id="weightChart" width="200" height="100"></canvas>

<script src="javascript/weight.js"></script>
{{/if}}
