<div class="jumbotron">
    <h1 class="display-4">Welcome to your health Dashboard!</h1>
    <p class="lead">Your personalized health review.</p>
    <hr class="my-4">

    <div class="row">

        <div class="col-md-6">
            {{>heart-rate}}
        </div>

        <div class="col-md-6">
            {{>weight}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{>blood-pressure}}
        </div>
        <div class="col-md-6">
            {{>water-consumed}}
        </div>
    </div>
</div>

<div class="m-5">
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
</div>