<form class="container mt-5 edit-user-profile">

    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- <label for="inputFirstName">First Name:</label> -->
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
            <!-- <label for="inputLastName">Last Name:</label> -->
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
    </div>

    <div class="form-row mt-3">
        <div class="form-group col-md-6">
            <!-- <label for="inputEmail4">Email:</label> -->
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <!-- <label for="inputPassword4">Password:</label> -->
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>

    <div class="form-row mt-3">

        <div class="form-group col-md-6">
            <select id="inputHeightFeet" class="form-control">
                <option selected>Height (feet)...</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <select id="inputHeightInches" class="form-control">
                <option selected>Height (inches)...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>

    </div>

    <div class="form-row mt-3">

        <div class="form-group col-md-6">
            <label for="inputGender">Gender:</label>
            <select id="inputGender" class="form-control">
                <option selected>Choose...</option>
                <option>Male</option>
                <option>Female</option>
                <!-- <option>I prefer not to say</option> -->
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="inputBirthday">Date of Birth (mm/dd/yyyy):</label>
            <input type="date" class="form-control" id="inputBirthday" placeholder="mm/dd/yyyy">
        </div>

    </div>

    <div class="form-row mt-3">

        <div class="col-sm-12 text-right mt-3">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>

    </div>

</form>

<script src="../javascript/edit-profile.js"></script>