<div class="jumbotron">
    <h1 class="display-4">Welcome To The Health Log!</h1>
    <p class="lead">A site where you can log and track your way to better health.</p>
    <hr class="my-4">

    <div class="row">

        <div class="col-md-6">
            <p class="font-italic">My Recent Charts:</p>
            {{>heart-rate}}
         
            {{>blood-pressure}}
        </div>

        <div class="col-md-6">
            <p class="font-italic">Weight:</p>
               {{>weight}}
        </div>

    </div>
</div>

 <div>
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
</div>

<div class="list-group">
    
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">2 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
</div>
