<div class="jumbotron">
    <h1 class="display-4">Welcome to the Health Log!</h1>
    <p class="lead">A site where you can log and track your way to better health.</p>
    <hr class="my-4">

    <div class="row">

        <div class="col-md-4">
            {{>heart-rate}}
        </div>

        <div class="col-md-4">
               {{>weight}}
        </div>

        <div class="col-md-4">
            {{>blood-pressure}}
        </div>

    </div>
</div>


