<div class="jumbotron">
    <h1 class="display-4">Welcome to the Health Log!</h1>
    <p class="lead">A site where you can log and track your way to better health.</p>
    <hr class="my-4">

  <div>
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
</div>
</div>
 
