<div class="jumbotron">
    <h1 class="display-4"> Welcome To The Health Log!</h1>
    <p class="lead">A site where you can log and track your way to better health.</p>
    <hr class="my-4">

    <div class="row">

        <div class="col-md-6">
            <p class="font-italic">My Recent Charts:</p>
            {{>heart-rate}}
         
            {{>blood-pressure}}
        </div>

        <div class="col-md-6">
            <p class="font-italic">Weight:</p>
               {{>weight}}
        </div>

    </div>
</div>

 <div>
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
</div>


