
<section class = 'container'>
    <h2>Your Health Charts</h2>
    <div class ='row'>
      <div class='col-md' d>
        {{> heart-rate}}    
      </div>
      <div class='col-md'>
      {{> weight}}  
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-mid'>
         {{>blood-pressure}}
      </div>
    </div>
   
    
</section>
