<div class="jumbotron">
    <h1 class="display-4">Welcome To The Health Log!</h1>
    <p class="lead">A site where you can log and track your way to better health.</p>
    <hr class="my-4">

    <div class="row">

        <div class="col-md-6">
            <p class="font-italic">My Recent Charts:</p>
            <img src="../assets/images/chart.png" alt="Chart" width="400" height="233">
        </div>

        <div class="col-md-6">
            <p class="font-italic">BMI Chart:</p>
            <img src="../assets/images/bmi-chart.jpg" alt="BMI Chart" width="400" height="233">

        </div>

    </div>

</div>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Body Mass Index: 25</h5>
            <small>1 day ago</small>
        </div>
        <p class="mb-1">Weight: 175 lbs. | Blood Pressure: 120/60 | Heart Rate: 120 bpm | Exercise Duration:
            30 mins. | Exercise Type: Running</p>
        <small>Comments: I felt good!</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">2 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
            varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
</div>